<section id = "bet-final">

<form id="form">

 <div class="main-card">

   <div class="bet-card">
     <div class="bet-score">

       <div class="bet-score-data">
         <span>
           <p class="score-data">1</p>
           :
           <p class="score-data">1</p>
       </span>
         <p class="bet-s">Betting Score</p>
       </div>

     </div>
     <div class="bet-teams">

       <div class="b-team1">
         <span></span>
         <p > hey there</p>
       </div>
       <div class="b-data">
          <span></span>
          <p>time</p>
       </div>
       <div class="b-team2">
         <span></span>
         <p >hey there</p>
       </div>
     </div>

   </div>

   <div class="bet-details">
      <div class="b-detail">
        <div class="b-amount">
          <span>Bet amount</span>

          <input id="amount" type="number"placeholder="Enter amount" value="" onchange="bet_amount()" ></input>

        </div>
        <div class="b-profit">
          <span>Profit rate(%)</span>
          <p class="profit" >20</p>
        </div>
        <div class="b-expected-p">
          <span>Expected profit</span>
          <p></p>
        </div>
      </div>

      <div class="b-choose">

        <div value="500">500</div>
        <div value="1000">1000</div>
        <div value="2000">2000</div>
        <div value="3000">3000</div>
        <div value="4000">4000</div>
        <div value="5000">5000</div>
        <div value="6000">6000</div>
        <div value="999">Bet all</div>

      </div>

      <div class="b-balance">
        <div class="bal">
          <p>Balance : </p>
          <span style = "color : red" id="bal"></span>
        </div>
      </div>

      <div class="b-btns">
        <div class="cancel">Cancel</div>
        <div class="conf">
          <button name="button">Confirm</button>
        </div>
      </div>

      <div class="response">
        <p class="reply"></p>
      </div>


   </div>

 </div>


</form>

</section>
