
<div class="content-scores">

  <div class="c-top">
    <p>Hey there</p>
  </div>


  <div class="c-mid">

    <div class="team">
      <span>hey</span>
      <p>team1</p>
    </div>

    <div class="team data">
      <span></span>
      <p>time</p>
    </div>

    <div class="team">
      <span>hey</span>
      <p>team2</p>
    </div>

  </div>

  <div class="c-bottom">
    <div class="c-bottom-in">
      <span>Game start</span>
      <span class="in">00:00:00</span>
    </div>
    <div class="c-bottom-in amount">
      <span>Amount</span>
      <span class="in">39439</span>
    </div>
  </div>

</div>
