<section id="window">

  <div class="bord-section">

    <div class="bord sec-upper">

      <div class="bord-back-btn">
        <a><ion-icon name="chevron-back-outline"></ion-icon></a>
      </div>
      <div class="bord-text">
        <p></p>
      </div>
      <div class="bord-how-btn">
        <a><ion-icon name="help-circle-outline"></ion-icon></a>
      </div>

    </div>

    <div class="bord sec-middle">
      <div class="team">
          <span class="t1_logo"></span>
          <p class="t-name">hello punjab</p>
      </div>
      <div class="team bord-team-data">
        <span></span>
        <h1 class="w-time">13:12:10</h1>
      </div>
      <div class="team">
         <span class="t1_logo"></span>
         <p class="t-name">hello csk</p>
      </div>
    </div>


  </div>

  <div class="score-bord-sec">
    <div class="titles">
      <p>Whole-mach betting</p>
    </div>

    <div class="score score-bord-title">
      <p>Score</p>
      <p>Profit</p>
      <p>Deals</p>
    </div>


  </div>
</section>

<section class="hey-there">
  <div class="back-hey">
    <span><ion-icon name="chevron-back-outline"></ion-icon></span>
  </div>
  <div class="box">
    <h1>Comming Soon...</h1>
  </div>
</section>
