
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/cssFiles/invi.css">
    <title>Invitation</title>
      <link rel="icon" type = "image/x-icon" href="../public/photos/favicon.png">
  </head>

   <body>

       <section>
         <h2>Your <br>invitation <br>code :- {{inv}}</h2>
       </section>
    </body>

</html>
